<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title %></title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <!-- Font Awesome icons (free version) -->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>

    <!-- MDBootstrap CSS -->
    <link href="/stylesheets/mdb.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/stylesheets/custom.css" rel="stylesheet" />
  </head>

  <body id="page-top" class="bg-light">
    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
      id="mainNav"
    >
      <div class="container-fluid ms-5">
        <span class="navbar-brand text-uppercase" href="/home"
          >Vision Optical</span
        >
      </div>
    </nav>

    <!-- Portfolio Section -->
    <section class="page-section portfolio" id="contact">
      <div class="container">
        <!-- Contact Section Heading-->
        <h1
          class="masthead-heading text-uppercase text-center text-secondary pt-5"
        >
          Login
        </h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Login Section Form-->
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
            <form name="login" id="form" method="post" action="home">
              <!-- Userame input-->
              <div class="form-outline mb-4">
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                  required
                />
                <label for="username" class="form-label">Username</label>
              </div>

              <!-- Password input-->
              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  name="password"
                  id="password"
                  type="password"
                  required
                />
                <label for="password" class="form-label">Password</label>
              </div>

              <!-- Show Password Checkbox -->
              <div class="mb-4 mt-2 form-check">
                <input
                  type="checkbox"
                  class="form-check-input fs-6"
                  id="showPass"
                  onclick="showPassword()"
                />
                <label class="form-check-label fs-6" for="showPass"
                  >Show Password</label
                >
              </div>
              <!-- Submit Button-->
              <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">
              Vision Optical, Moti Bag,
              <br />
              Junagadh.
            </p>
          </div>

          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <a class="btn btn-outline-light btn-social mx-1"
              ><i class="fab fa-fw fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1"
              ><i class="fab fa-fw fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1"
              ><i class="fab fa-fw fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-light btn-social mx-1"
              ><i class="fab fa-fw fa-dribbble"></i
            ></a>
          </div>

          <!-- Footer About Text-->
          <div class="col-lg-4">
            <h4 class="text-uppercase mb-4">About US</h4>
            <p class="lead mb-0">MG Technology Solution</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Copyright Section -->
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; MG Technology Solution 2022</small>
      </div>
    </div>

    <!-- Bootstrap core JS -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- MDBootstrap core JS -->
    <script src="/javascripts/mdb.min.js"></script>

    <!-- Core theme JS -->
    <script src="/javascripts/main.js"></script>
  </body>
</html>
